@model IEnumerable<TestProject.Models.Students>
@{
    ViewBag.Title = "Ученики";
}
    <h3>Ученики</h3>
<table class="table">
    <tr>
        <td>Номер</td>
        <td>Фамилия</td>
        <td>Имя</td>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.Id</td>
            <td><a asp-action="Grade" asp-controller="SubjectGrade" asp-route-id="@student.Id">@student.LastName</a></td>
            <td>@student.FirstName</td>
            <td>
                <a asp-action="Delete" asp-controller="Students" asp-route-classname="@student.ClassName" asp-route-studentid="@student.Id">Удалить</a>
            </td>
        </tr>
    }
</table>
<a asp-action="Add">Добавить</a>
