@model IEnumerable<TestProject.Models.SubjectGrade>
@{
    ViewBag.Title = "Оценки ученика";
}
    <h3>Оценки ученика</h3>
<table class="table">
    <tr>
        <td>Номер</td>
        <td>Дата</td>
        <td>Название предмета</td>
        <td>Оценка</td>
    </tr>
    @foreach (var subjectGrade in Model)
    {
        <tr>
            <td>@subjectGrade.Id</td>
            <td>@subjectGrade.Date</td>
            <td>@subjectGrade.SubjectName</td>
            <td><a asp-action="Edit" asp-controller="SubjectGrade" asp-route-id="@subjectGrade.Id" asp-route-studentId="@subjectGrade.StudentId" asp-route-subjectName="@subjectGrade.SubjectName">@subjectGrade.Grade</a></td>
            <td><a asp-action="Delete" asp-controller="SubjectGrade" asp-route-studentId="@subjectGrade.StudentId" asp-route-id="@subjectGrade.Id" asp-route-subjectName="@subjectGrade.SubjectName">Удалить</a></td>
        </tr>
    }
</table>
<a asp-action="Add">Добавить</a>