@model IEnumerable<TestProject.Models.SubjectGrade>
@{
    ViewBag.Title = "Оценки ученика";
}
<style>
    #right{text-align:right;}
</style>
    <h3>Оценки ученика</h3>
<table class="table">
    <tr>
        <td>Номер</td>
        <td>Дата</td>
        <td>Название предмета</td>
        <td id="right">Оценка</td>
    </tr>
    @foreach (var subjectGrade in Model)
    {
        <tr>
            <td>@subjectGrade.Id</td>
            <td>@subjectGrade.Date</td>
            <td>@subjectGrade.SubjectName</td>
            <td id="right"><a asp-action="Edit" asp-controller="SubjectGrade" asp-route-id="@subjectGrade.Id" asp-route-studentId="@subjectGrade.StudentId" asp-route-subjectName="@subjectGrade.SubjectName">@subjectGrade.Grade</a></td>
            <td><a asp-action="Delete" asp-controller="SubjectGrade" asp-route-studentId="@subjectGrade.StudentId" asp-route-id="@subjectGrade.Id" asp-route-subjectName="@subjectGrade.SubjectName">Удалить</a></td>
        </tr>
    }
    <tr>
        <td colspan="3"><b>Итоги</b></td>
        @if (Model.Any())
        {
            <td id="right"><b>Средняя оценка:  @Model.Average(g => g.Grade)</b></td>
        }
        else
        {
            <td id="right"><b>Средняя оценка:  0</b></td>
        }
    </tr>
</table>
<a asp-action="Add">Добавить</a>