@model TestProject.ViewModels.StudentGradeOnSubjectViewModel
@{
    ViewBag.Title = "Оценки учеников класса";
}
<style>
    #right {text-align: right;}
</style>

<h3>Журнал класса</h3>
<form method="get">
    <div class="form-inline form-group">
        <label class="custom-control-label">Выберите класс: </label>
        <select name="className" asp-items="Model.Classes" class="form-control"></select>
    </div>
    <div class="form-inline form-group">
        <label class="custom-control-label">Выберите предмет: </label>
        <select name="subjectName" asp-items="Model.Subjects" class="form-control"></select>
        <input type="submit" value="Фильтр" />
    </div>
</form>
<br />
<table class="table">
    <tr>
        <td>Номер ученика</td>
        <td>ФИО</td>
        <td>Предмет</td>
        <td>Дата</td>
        <td id="right">Оценка</td>
    </tr>
    @foreach (var students in Model.SubjectGrades)
    {
        <tr>
            <td>@students.StudentId</td>
            <td>@students.Students.FullName</td>
            <td>@students.SubjectName</td>
            <td>@students.Date.ToShortDateString()</td>
            <td id="right">@students.Grade</td>
        </tr>
    }
    <tr>
        <td colspan="4"><b>Итоги</b></td>
        @if (Model.SubjectGrades.Any())
        {
            <td id="right"><b>Средняя оценка:  @Model.SubjectGrades.Average(g => g.Grade)</b></td>
        }
        else
        {
            <td id="right"><b>Средняя оценка:  0</b></td>
        }
    </tr>
</table>
