<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        #position {background-position: right top;}
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">eDiary</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Subjects" asp-action="Index">Предметы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="navbar-item" id="position">
                            @if (User.IsInRole("admin"))
                            {
                                <p class="text-white">Администратор @User.Identity.Name</p>
                                <a class="nav-link text-primary" asp-action="Logout" asp-controller="Account">Выход</a>
                            }
                            else if (User.IsInRole("student"))
                            {
                                <p class="text-white">Ученик @User.Identity.Name</p>
                                <a class="nav-link text-primary" asp-action="Logout" asp-controller="Account">Выход</a>
                            }
                            else if (User.IsInRole("teacher"))
                            {
                                <p class="text-white">Учитель @User.Identity.Name</p>
                                <a class="nav-link text-primary" asp-action="Logout" asp-controller="Account">Выход</a>
                            }
                            else if (User.IsInRole("director"))
                            {
                                <p class="text-white">Директор @User.Identity.Name</p>
                                <a class="nav-link text-primary" asp-action="Logout" asp-controller="Account">Выход</a>
                            }
                            else if (User.IsInRole("parent"))
                            {
                                <p class="text-white">Родитель @User.Identity.Name</p>
                                <a class="nav-link text-primary" asp-action="Logout" asp-controller="Account">Выход</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TestProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
