@model TestProject.ViewModels.StudentGradeOnSubjectViewModel
@{
    ViewBag.Title = "Оценки учеников класса";
}

<form method="get">
    <div class="form-inline form-group">
        <label class="custom-control-label">Выберите класс: </label>
        <select name="className" asp-items="Model.Classes" class="form-control"></select>
    </div>
    <div class="form-inline form-group">
        <label class="custom-control-label">Выберите предмет: </label>
        <select name="subjectName" asp-items="Model.Subjects" class="form-control"></select>
        <input type="submit" value="Фильтр" />
    </div>
</form>
<br />
<table class="table">
    <tr>
        <td>Номер ученика</td>
        <td>ФИО</td>
        <td>Предмет</td>
        @foreach (var date in Model.Students)
        {
            <td>@date.Date.ToShortDateString()</td>
        }
    </tr>
    @foreach (TestProject.ViewModels.StudentGradeModel students in Model.Students)
    {
        <tr>
            <td>@students.StudentID</td>
            <td>@students.FullName</td>
            <td>@students.SubjectName</td>
            <td>@students.Grade</td>
        </tr>
    }
</table>
